---
layout: default
---

<div class="home">
	<img src="/assets/img/slider1.jpg" style="margin: auto;">
  <h1 class="home-h1" style="text-align:center; margin-top: 20px; font-size: 3.5em;">{{ page.h1 }}</h1>
  <h2 class="home-h2" style="text-align:center; margin-top: -20px">{{ page.h2 }}</h2>

  <div class="homepage-content">
  {{ content }}
  </div>

  <br><br><br>
  <hr>
  <blockquote style="text-align: center;">“Working with Sapona Plastics is more than a supplier/customer relationship; it’s a real partnership.  Having partners that you can depend on in a crunch can often times make the difference between success and failure.  Our relationship with Sapona Plastics has made that difference for us.  Simply stated:  they are integral to our continued success.”</blockquote>
  <hr>
  <br><br>
</div>